<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    {{ block('header', "index.html.twig") }}
        <main class="admin-panel-content">
            {% if loadDataError is not empty %}
                <p class="admin-panel-error">{{ loadDataError }}</p>
            {% elseif displayLoginForm %}
                <form method="post" action="data.php" class="user-form">
                    <input type="password" name="admin_password" placeholder="Admin password">
                    <input type="submit" value="Login">
                </form>
                {% if typeAnotherPassword %}
                    <p class="admin-panel-error password-error">Wrong password, try again</p>
                {% endif %}
            {% else %}
            <table class="table-results">
                <thead>
                    <tr><th>User</th><th>Score</th></tr>
                </thead>
                <tbody>
                {% for userData in database %}
                <tr>
                    {% for key, element in userData %}
                        {% if key == 0 or key == userData|length - 1 %}
                            <td>{{ element }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
</body>
</html>
