<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper" id="top">
        <header>
        <h1>Astro Quiz</h1>
            {% if loadDataError is empty and not displayLoginForm %}
                <nav>
                    <ul id="navig" class="ul-nav">
                        <li><a href="#top">Top</a></li>
                        <li><a href="#table-results">Results</a></li>
                        <li><a href="#table-wrong-answers">Bad answers</a></li>
                        <li><a href="#table-statistics">Statistics</a></li>
                        <li><a href="#clean-database">Clean data</a></li>
                    </ul>
                </nav>
            {% endif %}
        </header>
        <main class="admin-panel-content">
            {% if loadDataError is not empty %}
                <p class="admin-panel-error">{{ loadDataError }}</p>
            {% elseif displayLoginForm %}
                <form method="post" action="data.php" class="user-form">
                    <input type="password" name="admin_password" placeholder="Admin password">
                    <input type="submit" value="Login">
                </form>
                {% if typeAnotherPassword %}
                    <p class="admin-panel-error password-error">Wrong password, try again</p>
                {% endif %}
            {% else %}
            <table class="table-results" id="table-results">
                <thead>
                    <tr><th>No</th><th>Username</th><th>Score</th></tr>
                </thead>
                <tbody>
                {% for keyUserData, userData in database %}
                <tr class="basic-user-row">
                    <td>{{ keyUserData + 1 }}.</td>
                    {% for keyElement, element in userData %}
                        {% if keyElement == 0 or keyElement == userData|length - 1 %}
                            <td>{{ element }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table-wrong-answers" id="table-wrong-answers">
                <thead>
                    <tr><th>Wrong answers</th></tr>
                </thead>
                <tbody>
                {% for keyUserData, userData in database %}
                <tr>
                    <td class="wrong-answers">
                    {% for keyElement, element in userData %}
                        {% if keyElement == 0 %}
                            <span>{{ keyUserData + 1 }}. {{ element }}</span>
                        {% endif %}
                    {% endfor %}
                    <ol class="wrong-answers-list">
                        {% for keyElement, element in userData %}
                            {% if keyElement != 0 and keyElement != userData|length - 1 %}
                                {% if element == 0 %}
                                    <li>{{ allQuestions[keyElement - 1].get }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table-statistics" id="table-statistics">
                <thead>
                    <tr><th colspan="3">Percent of correct answers</th></tr>
                </thead>
                <tbody>
                {% for key, question in allQuestions %}
                <tr class="statistics-row">
                    <td>{{ key + 1 }}.</td>
                    <td class="statistics-question">{{ question.get }}</td>
                    <td>{{ percentCorrectAnswers[key]|number_format(1, '.') }}%</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% block cleanDatabaseWarning %}
                <p class="clean-database" id="clean-database">Clean database<br>Not possible to undo!</p>
            {% endblock %}
            <form method="post" action="clean.php" class="user-form clean-form">
                <input type="password" name="admin_password" placeholder="Admin password">
                <input type="submit" value="Clean">
            </form>
            {% endif %}
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
</body>
</html>
