<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    {{ block('header', "index.html.twig") }}
        <main class="admin-panel-content">
            {% if loadDataError is not empty %}
                <p class="admin-panel-error">{{ loadDataError }}</p>
            {% elseif displayLoginForm %}
                <form method="post" action="data.php" class="user-form">
                    <input type="password" name="admin_password" placeholder="Admin password">
                    <input type="submit" value="Login">
                </form>
                {% if typeAnotherPassword %}
                    <p class="admin-panel-error password-error">Wrong password, try again</p>
                {% endif %}
            {% else %}
            <nav>
                <ul class="ul-nav">
                    <li>Top table</li>
                    <li>Statistics</li>
                    <li>Clean data</li>
                </ul>
            </nav>
            <table class="table-results">
                <thead>
                    <tr><th>No</th><th>Username</th><th>Score</th></tr>
                </thead>
                <tbody>
                {% for keyUserData, userData in database %}
                <tr class="basic-user-row">
                    <td>{{ keyUserData + 1 }}.</td>
                    {% for keyElement, element in userData %}
                        {% if keyElement == 0 or keyElement == userData|length - 1 %}
                            <td>{{ element }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="3" class="wrong-answers">
                    Wrong answers to the questions:
                    <ol class="wrong-answers-list">
                        {% for keyElement, element in userData %}
                            {% if keyElement != 0 and keyElement != userData|length - 1 %}
                                {% if element == 0 %}
                                    <li>{{ allQuestions[keyElement - 1].get }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".wrong-answers").addClass("hide-wrong-answers");
        });

    </script>
</body>
</html>
