<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
    <link href="css/fontello.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    {{ block('header', "index.html.twig") }}
        <main class="question-content">
            <div class="info-panel">
                <div class="nick">
                <h2>{{ user.name }}</h2><br>
                <p>
                    Question for
                    <span class="weight-question">
                        {{ allQuestions[currentQuestionIndex].weight }}
                    </span>
                    {% if allQuestions[currentQuestionIndex].weight != 1 %}
                        points
                    {% else %}
                        point
                    {% endif %}
                </p>
                </div>
                <div class="counter-question">
                    Question {{ currentQuestionIndex + 1 }}/{{ amountQuestions }}
                </div>
            </div>
            {% if allQuestions[currentQuestionIndex].image|lower != "none" %}
                <div class="image">
                    <img src="files/{{ allQuestions[currentQuestionIndex].image }}" width="{{ imageWidth }}" alt="">
                </div>
            {% endif %}
            <div class="question">
                <p>
                    {{ allQuestions[currentQuestionIndex].get }}
                </p>
                <form method="POST" action="evalquestion.php" class="answers-form">
                    {% for i, val in allQuestions[currentQuestionIndex].getRandAnswers %}
                        {% set id = "radio" ~ i|last %}
                        <p>
                            <input type="radio" name="answer" value="{{ i }}" id="{{ id }}">
                            <label for="{{ id }}" class="possible-answer">
                                <span class="checkbox-icon icon-check-empty" aria-hidden="true"></span>{{ val }}
                            </label>
                        </p>
                    {% endfor %}
                    <p class="next-question-p">
                        <input type="submit" id="next-question">
                        <label for="next-question" class="next-question">
                            <span class="icon-right-circled2" aria-hidden="true"></span>
                            <span class="next-question-text">
                            {% if amountQuestions != currentQuestionIndex + 1 %}
                                Next question
                            {% else %}
                                Finish Quiz
                            {% endif %}
                            </span>
                        </label>
                        <span class="unselected-answer">
                        {% if unselectedAnswer %}
                            <br>Please, choose one answer
                        {% endif %}
                        </span>
                    </p>
                </form>
            </div>
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".next-question").addClass("next-question-deactivate");
            $("#next-question").prop("disabled", true);

            $(".possible-answer").click(function(){
                $("#next-question").prop("disabled", false);
                $(".next-question").removeClass("next-question-deactivate");
                $(".next-question").addClass("next-question-active");
            });

            $(".possible-answer").click(function(){
                $(".checkbox-icon").removeClass("icon-check");
                $(".checkbox-icon").addClass("icon-check-empty");
                $(this).find(".checkbox-icon").removeClass("icon-check-empty");
                $(this).find(".checkbox-icon").addClass("icon-check");
            });
        });

    </script>
</body>
</html>
