<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
    <link href="css/fontello.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    {{ block('header', "index.html.twig") }}
        <main class="question-content">
            <div class="info-panel">
                <div class="info-for-user">
                <p>
                    <h2>{{ user.name }}</h2><br>
                    Question for {# arrquest[idx].weight #}4
                    {% if arrquest[idx].weight != 1 %}
                        points
                    {% else %}
                        point
                    {% endif %}
                </p>
                </div>
                <div class="next-question">
                    Question {{ idx + 1 }}/{{ nquest }} <span class="icon-right-circled" aria-hidden="true"></span>
                </div>
            </div>
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
</body>
</html>
